/* ESTILOS GLOBALES ------------------------------------------------------------------------*/
body{
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e6e4e1' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(218, 205, 205, 0.45);
}
html{
    scroll-behavior: smooth;
}
:root{
    --pri: #f49445;
    --sec: #ECC94B;
}
.highlight{
    color: var(--pri);
}
.highlight-b{
    color: var(--sec);
}
.under{
    text-decoration: underline solid #F6E05E;
}
.titles{
    font-family: 'Montserrat', serif;
    font-weight: 600;
    color: var(--pri);
}
/* FIN ESTILOS GLOBALES ------------------------------------------------------------------------*/

/* ESTILOS DEL HEADER --------------------------------------------------------------------------*/
header{
    background-color: #f6f3ef;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 14;
}
.nav-link{
    color: #333;
}
.nav-link:hover{
    color: #777;
    border-bottom: solid 2px var(--pri);
}
.nav-link:active{
    border-bottom: solid 2px var(--pri);
}
.active{
    border-bottom: solid 2px var(--sec); 
}
nav .icon{
    display: none;
}

/* FIN ESTILOS DEL HEADER -----------------------------------------------------------------------------*/

/* ESTILOS DE LA BOTTOM NAVBAR ------------------------------------------------------------------------*/
.bottom-navbar{
    background-color: #f6f3ef;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 13;
    margin-left: 5px;
    margin-right: 5px;
}
.redes{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
/* ESTILOS DE LA BOTTOM NAVBAR ---------------------------------------------------------------------------*/

/* ESTILOS DEL SHOWCASE - PORTADA ------------------------------------------------------------------------*/
.showcase{
    margin-top: 64px;
    height: 70vh;
    background-color: #222;
    position: relative;
    overflow: hidden;
}
.showcase-text{
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--sec);
}

.showcase::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(./assets/index/showcase.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.border-text h1{
    font-size: 56px;
    letter-spacing: 8px;
    text-transform: uppercase; 
}
.border-text p{
    text-align: left;
    margin-right: 50px;
    font-weight: 500;
/* TYPEWRITER EFFECT */
    border-right: solid 3px rgba(236,201,75,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 24px;
    color: rgba(255,255,255,1);
}
/* FIN ESTILOS DEL SHOWCASE - PORTADA ------------------------------------------------------------------------*/

/* ANIMACIÓN DE LA PORTADA -----------------------------------------------------------------------------------*/
.border-text p {
    animation: animated-text 3s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 550px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(236,201,75,.85);}
    to{border-right-color: transparent;}
  }


/* FIN DE ANIMACIÓN DE LA PORTADA ------------------------------------------------------------------------*/
/* ANIMACIÓN DE LAS TARJETAS DE VALORES ------------------------------------------------------------------------*/
.card {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -2px, 0px);
  }


/* FIN DE ANIMACIÓN DE LAS TARJETAS DE VALORES ------------------------------------------------------------------------*/

/* ESTILOS DE DESAROLLOS Y PROYECTOS ------------------------------------------------------------------------*/
.portada_gral{
    height: 55vh;
    margin-top: 64px;
    background-color: var(--pri);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 50% 85%;

}

.portada_a{background-image: url(./assets/portada-obreros.webp);}
.portada_b{background-image: url(./assets/portada-dibujo.webp);}
.portada_c{background-image: url(./assets/portada-nosotros.webp);background-position: 50% 55%;background-blend-mode: normal;}
.portada_d{background-image: url(./assets/portada-edificios.webp);}
.portada_e{background-image: url(./assets/condominios/petalos-1.webp);}
.portada_e{background-image: url(./assets/condominios/petalos-1.webp);}
.portada_f{background-image: url(./assets/Recodo/recodo03.webp);background-position: 50% 55%;}
.portada_g{background-image: url(./assets/terceros/imperio01.webp);}
.portada_h{background-image: url(./assets/op/op4.webp);}
.portada_i{background-image: url(./assets/obra/piamonte-obra4.webp);}
.portada_j{background-image: url(./assets/proyectos/isa3.webp);}
.portada_k{background-image: url(./assets/ventas.jpg);}
.portada_l{background-image: url(./assets/interiorismo/interiorismo-005.webp);}

.p-text{
    position: absolute;
    top: 30%;
    width: auto;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.der{
    right: 5%;
    margin-left: 5%;
    text-align: right;
}
.izq{
    left: 5%;
    margin-right: 5%;
    text-align: left;
}
.cent{
    left: 20%;
    right: 20%;
    text-align: center;
}

.border-texto{
    color:#fff;
    white-space: normal;
    background-color:#111;
    padding:20px;
    opacity: 0.75;
}

/*ESTILOS DE LAS SLIDES  ------------------------------------------------------------------------*/

.mySlides1, .mySlides2, .mySlides3, .mySlides4{
    display: none;
    height: 100%;
    width: 100%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #222;
  background-color: rgba(0, 0 , 0, 0.1);
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  user-select: none;
}
.slideshow-container{
    height: 500px;
    overflow: hidden;
}
/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/* FIN DE ESTILOS DE LAS SLIDES  ------------------------------------------------------------------------*/
/* ANIMACIÓN DE LAS SLIDES  -----------------------------------------------------------------------------*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* FIN DE ANIMACIÓN DE LAS SLIDES  ------------------------------------------------------------------------*/


/* MEDIA QUERIES ------------------------------------------------------------------------*/
@media only screen and (max-width: 600px){
    .showcase, .desarrollos{
        margin-top: 55px;
    }
    .showcase{
        height: 60vh;
    }
    .border-text h1{
        font-size: 28px;
    }
    .border-text p{
        font-size: 28px;
        /*background-color: rgba(51, 51, 51, 0.6);*/
        width: 70%;
        align-content: center;
        animation: none;
        white-space: normal;
        border-right: none;
    }
    nav a{
        display: none;
    }
    nav .icon{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
        margin-right: 14px;
        display: block;
    }
    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: -153px;
        top: -53px;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .logo{
        margin-top: 5px;
    }
    .slideshow-container{
        height: 300px;
        margin-top: 40px;
    }
    .links{
        display: none;
    }
}
@media only screen and (max-height: 450px){
    .showcase{
        margin-top: 125px;
    }
    .border-text h1{
        font-size: 28px;
    }
    .border-text p{
        font-size: 18px;
        /*background-color: rgba(51, 51, 51, 0.6);*/
        width: 70%;
        align-content: center;
        animation: none;
        white-space: normal;
        border-right: none;
    }
    .logo{
        margin-top: 5px;
    }
}